@charset "UTF-8";

@font-face {
    font-family: 'Passion-R';
    src: url('fonts/PassionOne-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Sriracha-R';
    src: url('fonts/Sriracha-Regular.ttf') format(truetype);
}

:root {
    --font-titulo: 'Passion-R', Arial, Verdana, sans-serif;
    --font-paragrafo: 'Sriracha-R', Arial;
}

body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}

header > h1, h2 {
    margin: 0px;
    padding: 0px;
}

span {
    color: rgb(177, 175, 175);
}

header > h1 {
    padding-bottom: 0.1em;
    font-family: var(--font-titulo);
}

header > h2 {
    text-align: center;
    font-size: 0.4em;
}

main {
    background-color: bisque;
}


#poema {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.5em;
    background-color: antiquewhite;
}

.estrofe {
    display: flex;
    margin-left: 1em;
    white-space: pre-line;
    text-align: left;
}

#img1 { 
    color: white;
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#img1 > p {
    display: flex;
    margin-left: 1em;
    background-color: rgba(128, 128, 128, 0.12);
    width: 300px;
    text-align: left;
    justify-content: center;
}

#img2 {
    color: white;
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#img2 > p {
    display: flex;
    margin-left: 1em;
    background-color: rgba(128, 128, 128, 0.337);
    width: 300px;
    text-align: left;
    justify-content: center;
}

#ponto {
    padding-bottom: 3em;
}

#ponto2 {
    padding-bottom: 3em;
}

p {
    font-family: var(--font-paragrafo);
    margin: 0px;
    line-height: 2.5em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

